@use '../../scss/abstract/mixins' as *;
@use '../../scss/abstract/variable' as *;
@use '../../scss/components/buttons' as *;
@use '../../scss/components/typography' as *;
@use '../../scss/components/animations' as *;

.banner {
  width: 100%;
  @include flex-even();
  background-image: url('/assets/img/bannerImg1.png');
  background-repeat: no-repeat;
  background-size: cover;
  //   background-position: center;
  transition: background-image ease-in 0.5s;

  //Responsive Phone 900px
  @include respond(tab-port) {
    background-position: center;
  }

  &__bg1 {
    background-image: url('/assets/img/bannerImg1.png');
  }
  &__bg2 {
    background-image: url('/assets/img/bannerImg2.png');
  }
  &__bg3 {
    background-image: url('/assets/img/bannerImg3.png');
  }

  &__left {
    flex: 0 0 40%;
    min-height: 100vh;

    height: 100dvh;
    margin: auto 0;
    @include flex-centre();
    // justify-self: flex-start;
    padding: 1rem;
    background: linear-gradient(
      to right,
      rgba($color-primary, 1),
      rgba($color-primary, 0.8),
      rgba($color-primary, 0.6),
      rgba($color-primary, 0.4),
      transparent 100%
    );

    //Responsive Phone 900px
    @include respond(tab-port) {
      flex: 0 0 60%;
    }

    //Responsive Phone 600px
    @include respond(phone) {
      flex: 0 0 80%;
    }

    //Responsive phone 480px
    @include respond(small-phone) {
      flex: 0 0 100%;
    }

    &--content {
      width: 80%;
      margin: auto;

      @include appearAnimation();
      //Responsive Phone 900px
      @include respond(tab-port) {
        flex: 0 0 90%;
      }
    }
  }

  &__right {
    width: 60%;
    // flex: 0 0 69%;
    height: 80vh;
  }
}
