// Flex Box
@mixin flex-centre($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flex-sb($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-even($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-around($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-around;
  align-items: center;
}

//Responsive

@mixin respond($breakpoint) {
  // Small - Phone
  @if $breakpoint == small-phone {
    @media only screen and (max-width: 30em) {
      //480px
      @content;
    }
  }

  // Phone
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  // Tablet - Portrait
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  // Tablet - Landscape
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 79.375em) {
      //1260px
      @content;
    }
  }

  // Tablet - Landscape
  @if $breakpoint == tab-land1 {
    @media only screen and (max-width: 70.625em) {
      //1130px
      @content;
    }
  }

  //Big - Desktop
  @if $breakpoint == big-desktop {
    @media only screen and (max-width: 112.75em) {
      //1800px
      @content;
    }
  }
}
