//Color Variables

$color-white: #fff;
$color-black: #000;
$color-grey: #626687;
$color-grey-light: #e0e3eb;
// $color-navy-blue: #1b1c57;
$color-primary: #1f2058f4;
$color-primary-light-1: #7c7cbc;
$color-primary-light-2: #c7c7f3;
$color-secondary: #f59e0b;
$color-red: #fee2e2;
$color-red-danger: #ef4444;
$color-info: #dbeafe;
$color-info-dark: #1d4ed8;
