@use '../../scss/abstract/mixins' as *;
@use '../../scss/abstract/variable' as *;
@use '../../scss/components/typography' as *;
@use '../../scss/components/animations' as *;

.feedbacks {
  width: 90%;
  @include flex-centre(column);
  margin: 5% auto;

  &__headings {
    align-self: flex-start;

    &--headLine {
      color: $color-primary-light-1;
    }
  }
}

.feedbacks-container {
  width: 60%;
  @include flex-centre();
  justify-content: flex-start;
  //   padding-bottom: 8%;
  margin: 3% auto;
  @include appearAnimation();

  //Responsive tab-port 900px
  @include respond(tab-port) {
    width: 70%;
  }

  //Responsive phone 600px
  @include respond(phone) {
    width: 90%;
  }

  &__card {
    // flex: 0 1 100%;
    flex: 0 0 100%;
    height: 100%;
    overflow: visible;
    object-fit: cover;
    margin: auto;
    position: relative;
    scroll-snap-align: center;

    &::-webkit-scrollbar {
      display: none;
    }

    &--quote {
      position: absolute;
      top: 2%;
      left: 2%;
      font-family: cursive;
      font-size: 10rem;
      font-weight: 600;
      color: $color-white;
    }

    &--img {
      width: 100%;
      border-radius: 1.5rem;
      transition: all 0.5s;

      &:hover,
      &:active {
        transform: scale(1.03);
        border: 1px solid $color-primary;
        box-shadow: 0 0.3rem 2rem 0.5rem rgba($color-primary, 0.2);
      }
    }
  }

  &__cardReview {
    width: 40%;
    backdrop-filter: blur(10rem);
    padding: 1rem;
    position: absolute;
    border-radius: 1rem;
    bottom: 5%;
    right: 2%;
    transition: all 0.3s;

    //Responsive tab-port 900px
    @include respond(tab-port) {
      width: 60%;
    }

    //Responsive phone 600px
    @include respond(phone) {
      width: 80%;
    }

    &:hover,
    &:active {
      transform: scale(1.02);
      border: 1px solid $color-primary;
      box-shadow: 0 0.3rem 2rem 0.5rem rgba($color-primary, 0.2);
    }

    .reviewerName {
      font-size: 1.7rem;
      color: $color-primary-light-2;

      //Responsive phone 600px
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }

    &--heading {
      font-size: 1.5rem;
      padding: 0.5rem;
      color: $color-white;

      //Responsive phone 600px
      @include respond(phone) {
        font-size: 1.3rem;
      }
    }

    &--review {
      font-size: 1.3rem;
      padding: 0.5rem;
      color: $color-white;

      //Responsive phone 600px
      @include respond(phone) {
        font-size: 1rem;
      }
    }

    &--rating {
      text-align: right;
      font-size: 1.3rem;
      color: $color-white;
    }
  }
}
