@if (popupStatus()) {
  <app-popup-component />
}

@if (toastChange()) {
  <app-toast-component />
}

@if (imagePopupStatus() || imagePopupPath()) {
  <app-popup-component [imagePath]="imagePopupPath()" />
}

@if (wishList()) {
  <section id="wishList-section">
    <app-wishlist-component />
  </section>
}
<section id="hero-section">
  <app-banner-component />
</section>

<section id="product-section">
  <app-products-component />
</section>

<section id="about-section">
  <app-about-component />
</section>

<app-feedback-component />

<app-video-testimonials-component />
